[MASTER]
load-plugins=pylint_common, pylint_django
ignore=migrations,tests

[FORMAT]
max-line-length=120

[MESSAGES CONTROL]
enable=all
disable=missing-docstring

[DESIGN]
max-parents=14

[TYPECHECK]
generated-members=REQUEST,acl_users,aq_parent,"[a-zA-Z]+_set{1,2}",save,delete
